<%- include('partials/header.ejs') %>
<div class="course-container">
  <div class="Course-text-container">
    <h2>Reach the zenith of 21st century educators</h2>
    <p>
      This Course will teach you everything from basic(like how to create a
      digital classroom) to Advanced AI tools
    </p>
    <p>Rating 4.5/5</p>
    <div class="btn">Buy this course for $29</div>
  </div>
  <div class="Course-image-container">
    <ul>
      <% v.forEach(video => { %>
      <li>
        <iframe
          width="260"
          height="200"
          src="<%= video.url %>"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </li>
      <% }); %>
    </ul>
  </div>
</div>
<div class="What-U-Will-Learn">
    <h4 >What You Will Learn</h4>
    <ul>
        <li>To design and plan online course</li>
        <li>To setup digital classroom</li>
        <li>Tools for online teaching</li>
        <li>Create videos and presentation</li>
        <li>Promotion using Digital Marketing</li>
        <li>To manage and articulate your online presence </li>
        <li>To integrate powerful 10+ AI tools to enhance your online course and lessons</li>
        <li>How to formulate Fee structure for your course</li>
    </ul>
</div>
<div class="Prerequisites">
<h4>Prerequisites</h4>
<p>No such prerequisite needed.Just a decent device(Laptop or Tablet) will be enough.</p>
</div>

<div class="Testimonials-block">
    <h2>Alumni Voices</h2>
    <div class="Testimonials">
      <div class="Testimonial-1">
        <p>
            "As an educator, I knew I needed to upskill in technology. The A to Z Course is the perfect solution. It's a comprehensive journey into the tech world, and the supportive community of educators is a huge bonus. I now feel tech-savvy and confident in my teaching."
        </p>
        <p class="T-Name">~Emily Williams</p>
      </div>
      <div class="Testimonial-1">
        <p>
            "This Course for Educators has been a game-changer for me. It's a comprehensive program that equips educators with the technical skills needed for online teaching. I now create engaging and high-quality online content, making my teaching more effective and impactful."
        </p>
        <p class="T-Name">~Ariana Gomez</p>
      </div>
      <div class="Testimonial-1">
        <p>
            "This course is a game-changer for educators. It's not just about learning technical skills; it's about becoming a more effective, modern educator. I can't recommend it enough for anyone in education."
        </p>
        <p class="T-Name">
          ~Robert Shakespeare 
        </p>
      </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>
