<%- include('partials/header.ejs') %>
<div class="intro-container">
    <img class="intro-img" src="https://cdn.sanity.io/images/tlr8oxjg/production/9fb718337da03cbbc2c76d79d7bb2393e22d13b0-1440x404.png?w=1920&q=100&fit=clip&auto=format" alt="">
    <div class="Content">
        <h1>We turn talent into <br> greatness.</h1>
        <p>EduBloom changes lives, organizations, and nations through digital <br> upskilling, developing the edge you need to conquer what's next.</p>
    </div>
</div>
<div class="about-us-container">
    <img
      class="about-us-Image"
      src="https://www.upeducators.com/wp-content/uploads/2021/11/digitally-smart-parents.png"
      alt=""
    />
    <div class="about-us-Text">
      <h2>About EduBloom</h2>
      <p>
        EduBloom Education company – is India’s fastest growing Ed Tech company in upskilling of Educators. We empower educators with the digital pedagogy skills and innovative teaching practices needed to succeed in today’s fast-changing education landscape.
      </p>
    </div>
  </div>
  <div class="Mission-container">
    <div class="Mission-container-Text"> 
      <h2>Our Mission</h2>
      <p>
        At EduBloom, our mission is to empower educators with the tools and knowledge they need to thrive in a rapidly changing world. We believe that digital pedagogy & innovative teaching practices is the key to unlocking the potential of every student, and we’re committed to providing the highest quality training and support to help educators achieve their goals.”
      </p>
    </div>
    <img
      class="Mission-container-Image"
      src="https://www.upeducators.com/wp-content/uploads/2021/11/collage-words1-595xh.png"
      alt=""
    />
  </div>
  <div class="mentor-container">
    <img
      class="mentor-Image"
      src="https://www.udacity.com/images/experience/industry-expertise.svg"
      alt=""
    />
    <div class="mentor-Text">
      <h2>Proficient Guidance from Experts</h2>
      <p>
        Our commitment to your success is reflected in our careful selection of instructors, individuals who bring a wealth of knowledge, proven credentials, and extensive experience of making better quailty of online content.
      </p>
      <h4>What Makes Our Instructors Exceptional?</h4>
      <ul>
        <li>Mentorship and Support</li>
        <li>Credentials and Expertise</li>
        <li>Innovative Teaching Methods</li>
        <li>Feedback and Improvement</li>
        <li>Personal Connection and Real-world Experience</li>
    </ul>
    </div>
  </div>
<%- include('partials/footer.ejs') %>

