<%- include('partials/header.ejs') %>
<div class="course-container">
  <div class="Course-text-container">
    <h2>ChatGPT and AI tools</h2>
    <p>
      Knowing ChatGPT and other AI tools is necessary as it can help content creation, and can also increase student engagement
    </p>
    <p>Rating 4.7/5 stars</p>
    <div class="btn">Buy this course for $15</div>
  </div>
  <div class="Course-image-container">
    <ul>
      <% v.forEach(video => { %>
      <li>
        <iframe
          width="260"
          height="200"
          src="<%= video.url %>"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </li>
      <% }); %>
    </ul>
  </div>
</div>
<div class="What-U-Will-Learn">
    <h4>What You Will Learn</h4>
    <ul>
        <li>Understanding the Fundamentals of AI and Chatbots</li>
        <li>Using chatbots to personalize the learning journey for students</li>
        <li>Gamification and rewards in AI-powered education.</li>
        <li>Integrating chatbots into learning management systems (LMS) and educational websites</li>
        <li>To integrate powerful 10+ AI tools to enhance your online course and lessons
        </li>
    </ul>
</div>
<div class="Prerequisites">
<h4>Prerequisites</h4>
<p>Educators should have a basic understanding of computer operations, including using software applications, navigating file systems, and performing basic troubleshooting.</p>
</div>

<div class="Testimonials-block">
    <h2>Educators Love EduBloom</h2>
    <div class="Testimonials">
      <div class="Testimonial-1">
        <p>
            "I recently had the privilege of participating in the 'ChatGPT and AI Tools' course, and it was a transformative learning experience. This course provided an in-depth and hands-on exploration of the fascinating world of artificial intelligence, specifically focusing on ChatGPT and other AI tools."
        </p>
        <p class="T-Name">~Charlotte Jones</p>
      </div>
      <div class="Testimonial-1">
        <p>
            "The ChatGPT module was a highlight for me. I gained valuable insights into natural language processing, chatbot development, and conversational AI. I was able to build my own chatbot, which I now use to streamline communication with my customers on my website. The impact on my business has been tremendous."
        </p>
        <p class="T-Name">~Jacob Wilson</p>
      </div>
      <div class="Testimonial-1">
        <p>
            "The course instructors were not only experts in the field but also excellent educators. They broke down complex AI concepts into understandable, practical lessons. I was particularly impressed by the hands-on exercises and real-world applications of AI tools. These activities allowed me to not only grasp the theory but also apply it in various contexts."
        </p>
        <p class="T-Name">
          ~Matthew Clark
        </p>
      </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>
