<%- include('partials/header.ejs') %>
<div class="Motivational_img">
  <img
    src="https://i.pinimg.com/736x/ea/da/13/eada1319e26e12e0a32d8d18fd25f05b.jpg"
    alt="George Couros Quote on technology"
  />
</div>
<div class="Container">
  <div class="course1">
    <div class="C-Name">
      <a href="/DME">Digital Marketing for Educators</a>
    </div>
    <br />
    <div class="P-image">
      <img
        src="https://static.frontendmasters.com/assets/teachers/north/thumb.webp"
        alt="professor"
      />
    </div>
    <p class="P-Name">Dr. Michael Reynolds</p>
    <p>Rating 4.7/5 stars</p>

    <p>
      Digital marketing is crucial for online educators as it not only helps
      them reach a broader audience but also enables them to engage with
      students, build their brand, and continuously improve their teaching
      methods based on data and feedback. It's an indispensable tool for success
      in the digital education landscape.
    </p>
    <p><b>Price:$10</b></p>
  </div>
  <div class="course1">
    <div class="C-Name">
      <a href="/Innovative">Innovative Teaching Practices</a>
    </div>
    <br />
    <div class="P-image">
      <img
        src="https://static.frontendmasters.com/assets/teachers/moss/thumb.webp"
        alt="professor"
      />
    </div>
    <p class="P-Name">Dr. Kevin Williams</p>
    <p>Rating 4.6/5 stars</p>

    <p>
      Innovative teaching practices to online educators is essential for
      maintaining the quality and relevance of online education. It benefits
      both educators and students by fostering engagement, enhancing learning
      outcomes, and preparing educators for the evolving landscape of digital
      education.
    </p>
    <p><b>Price:$9</b></p>
  </div>
</div>

<div class="Container">
  <div class="course1">
    <div class="C-Name">
      <a href="/SEO">Search Engine Optimization</a>
    </div>
    <br />
    <div class="P-image">
      <img style="height: 127px;"
        src="https://static.frontendmasters.com/assets/teachers/kuperman/thumb.webp"
        alt="professor"
      />
    </div>
    <p class="P-Name">Dr. John North</p>
    <p>Rating 4.5/5 stars</p>

    <p>
      Knowing SEO is crucial for online educators to increase the visibility of
      their educational content, attract a larger and more targeted audience,
      and stay competitive in the online education market.
    </p>
    <p><b>Price:$12</b></p>
  </div>
  <div class="course1">
    <div class="C-Name">
      <a href="/Chatgpt">ChatGPT and AI tools</a>
    </div>
    <br />
    <div class="P-image">
      <img style="height: 127px;"
        src="https://static.frontendmasters.com/assets/teachers/kinney/thumb.webp"
        alt="professor"
      />
    </div>
    <p class="P-Name">Dr. Steve Bolt</p>
    <p>Rating 4.7/5 stars</p>

    <p>
      Knowing ChatGPT and other AI tools is necessary as it can help content
      creation,data analysis(measuring trends in student's learnings) and can
      also increase student engagement
    </p>
    <p><b>Price:$15</b></p>
  </div>
</div>
<div class="Container">
  <div class="course1">
    <div class="C-Name">
      <a href="/Gamification">Gamification in Education</a>
    </div>
    <br />
    <div class="P-image">
      <img
        src="https://static.frontendmasters.com/assets/teachers/north/thumb.webp"
        alt="professor"
      />
    </div>
    <p class="P-Name">Dr. Michael Reynolds</p>
    <p>Rating 4.6/5 stars</p>

    <p>
      Gamification in Education can help increase student engagement. Gving
      rewards to students achieving particular milestone can create a healthy
      environment and Long term motivation.
    </p>
    <p><b>Price:$15</b></p>
  </div>
  <div class="course1">
    <div class="C-Name">
      <a href="/A_to_z">Reach the zenith of 21st century educators</a>
    </div>
    <br />
    <div class="P-image">
      <img style="height: 127px;"
        src="https://static.frontendmasters.com/assets/teachers/holt/thumb.webp"
        alt="professor"
      />
    </div>
    <p class="P-Name">Dr. Brain Thomson</p>
    <p>Rating 4.5/5 stars</p>

    <p>
      This course will provide complete knowledge starting from basics to
      SEO,ChatGPT and AI tools,Gamification in Education
    </p>
    <p><b>Price:$29</b></p>
  </div>
</div>
<%- include('partials/footer.ejs') %>
