<%- include('partials/header.ejs') %>
<div class="course-container">
  <div class="Course-text-container">
    <h2>Digital Marketing for Educators</h2>
    <p>In today's digital age, digital marketing is an essential skill for educators.</p>
    <p>Rating 4.7/5</p>
    <div class="btn">Buy this course for $10</div>
  </div>
  <div class="Course-image-container">
    <ul>
      <% v.forEach(video => { %>
      <li>
        <iframe
          width="260"
          height="200"
          src="<%= video.url %>"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </li>
      <% }); %>
    </ul>
  </div>
</div>
<div class="What-U-Will-Learn">
  <h4>What You Will Learn</h4>
  <ul>
    <li>Promotion using Digital Marketing</li>
    <li>To manage and articulate your online presence</li>
    <li>How to formulate Fee structure for your course</li>
  </ul>
</div>
<div class="Prerequisites">
  <h4>Prerequisites</h4>
  <p>
    Having basic idea about online trends and good knowledge about your field
    will be halpful.
  </p>
</div>

<div class="Testimonials-block">
  <h2>Alumni Voices</h2>
  <div class="Testimonials">
    <div class="Testimonial-1">
      <p>
        "In today's digital age, digital marketing is an essential skill for
        educators. This course has equipped me with the knowledge and tools to
        effectively promote my courses and connect with students. It's a must
        for educators in the 21st century."
      </p>
      <p class="T-Name">~Williams Worths</p>
    </div>
    <div class="Testimonial-1">
      <p>
        "This course offers a holistic approach to online teaching. It's not
        just about technical skills; it's about reaching and retaining students
        effectively. I've learned to create a strong online presence and build
        trust with my audience."
      </p>
      <p class="T-Name">~Lisa Anderson</p>
    </div>
    <div class="Testimonial-1">
      <p>
        "The Digital Marketing for Educators course has been a game changer for
        me. It's not just about marketing; it's about reaching and engaging with
        students effectively. I've learned to create compelling online
        campaigns, and the results have been remarkable."
      </p>
      <p class="T-Name">~Emily Davis</p>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>
