<%- include('partials/header.ejs') %>
<div class="course-container">
  <div class="Course-text-container">
    <h2>Gamification in Education</h2>
    <p>
       Gamification in education will help increase student engagement and create long term motivation.
    </p>
    <p>Rating 4.6/5</p>
    <div class="btn">Buy this course for $15</div>
  </div>
  <div class="Course-image-container">
    <ul>
      <% v.forEach(video => { %>
      <li>
        <iframe
          width="260"
          height="200"
          src="<%= video.url %>"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </li>
      <% }); %>
    </ul>
  </div>
</div>
<div class="What-U-Will-Learn">
    <h4>What You Will Learn</h4>
    <ul>
        <li>Student engagement strategies</li>
        <li>Technology Integration for better gamification</li>
        <li>Data analysis in gamified learning</li>
    </ul>
</div>
<div class="Prerequisites">
<h4>Prerequisites</h4>
<p>Having good knowledge about your subject is essential for creating a better gamified experience</p>
</div>

<div class="Testimonials-block">
    <h2>Educators Love EduBloom</h2>
    <div class="Testimonials">
      <div class="Testimonial-1">
        <p>
            "This course on gamification has transformed the way I teach. I've learned how to make learning engaging and fun, and my students love it. It's a game changer!"
        </p>
        <p class="T-Name">~Sophia Clark</p>
      </div>
      <div class="Testimonial-1">
        <p>
            "The feedback and assessment techniques I've learned here are fantastic. I can provide immediate, constructive feedback that truly benefits my students' progress."
        </p>
        <p class="T-Name">~Isabella Green</p>
      </div>
      <div class="Testimonial-1">
        <p>
            "This course highlights the power of collaboration. I've incorporated collaborative learning into my lessons, and my students have become more effective team players."
        </p>
        <p class="T-Name">
          ~Mia Evans 
        </p>
      </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>
