<%- include('partials/header.ejs') %>
<div class="First-Block">
  <div class="First-Block-Content">
    <h2>EduBloom</h2>
    <p style="text-align: center;">"Uniting pedagogy with cutting-edge technology to redefine <br/> and elevate the education experience for educators and students."</p>
    <div class="btn-container">
      <button class="btn" style="text-align: center;" onclick="window.location.href='/courses'">Explore now</button>
    </div>
  </div>
  <img
    id="First-Block-image"
    src="https://images.unsplash.com/photo-1513258496099-48168024aec0?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt=""
  />
</div>

<div class="Content-Appreciation">
  <img
    class="Content-Appreciation-Image"
    src="https://cdn.sanity.io/images/tlr8oxjg/production/ab4a9acf379df89b5aff445a3b1e034508aad216-473x507.png?w=640&q=100&fit=clip&auto=format"
    alt=""
  />
  <div class="Content-Appreciation-Text">
    <h2>High-quality, curated curriculum</h2>
    <p>
      Content is co-created with the world's most innovative tech companies,
      curated by our teaching experts.
    </p>
  </div>
</div>
<div class="Instructor-Appreciation">
  <div class="Instructor-Appreciation-Text">
    <h2>Expert Instructors</h2>
    <p>
      Courses are taught by instructors with proven credentials and extensive
      industry experience, vetted by our stringent approval process.
    </p>
  </div>
  <img
    class="Instructor-Appreciation-Image"
    src="https://cdn.sanity.io/images/tlr8oxjg/production/f7820f1a15af353a91a6daab4713d293bd7578bf-489x474.png?w=640&q=100&fit=clip&auto=format"
    alt=""
  />
</div>
<div class="USP">
  <img
    class="USP-Image"
    src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt=""
  />
  <div class="USP-Text">
    <h2>The EduBloom Difference</h2>
    <h4 class="USP-Remove">Interactive Content Creation Tools:</h4>
    <p>
      The app provides user-friendly, interactive content creation tools that
      simplify the process of building engaging online courses, incorporating
      multimedia, quizzes, and other interactive elements.
    </p>
    <h4 class="USP-Remove">Continuous Support:</h4>
    <p>
      The app provides 24/7 support to assist educators with any technical or
      content-related challenges they encounter, ensuring they have a reliable
      support system.
    </p>
  </div>
</div>
<div class="Testimonials-block">
  <h2>Educators Love EduBloom</h2>
  <div class="Testimonials">
    <div class="Testimonial-1">
      <p>
        "Edubloom has revamped my teaching style. The practical courses and
        supportive instructors have given me the skills to create engaging
        online content. Highly recommended!"
      </p>
      <p class="T-Name">~Emily Davis, Online Course Creator</p>
    </div>
    <div class="Testimonial-1">
      <p>
        "Edubloom empowered me to embrace technology in teaching.Edubloom
        empowered me to embrace technology in teaching."
      </p>
      <p class="T-Name">~James Turner, Technology Integration Coach</p>
    </div>
    <div class="Testimonial-1">
      <p>
        "Edubloom is a one-stop solution for educators who want to upskill and
        adapt to the digital era. I've gained valuable technical skills and
        learned how to create engaging online content that resonates with my
        students."
      </p>
      <p class="T-Name">
        ~Kimberly White, Science Educator and STEM Coordinator
      </p>
    </div>
  </div>
</div>
<%- include('partials/footer.ejs') %>
