<%- include('partials/header.ejs') %>
<div class="First-Block">
  <div class="First-Block-Content">
    <h1>EduBloom</h1>
    <h2>Blooming the future by reshaping the present</h2>
  </div>
  <img
    id="First-Block-image"
    src="https://images.unsplash.com/photo-1513258496099-48168024aec0?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt=""
  />
</div>
<hr />
<div class="Content-Appreciation">
  <img
    class="Content-Appreciation-Image"
    src="https://cdn.sanity.io/images/tlr8oxjg/production/ab4a9acf379df89b5aff445a3b1e034508aad216-473x507.png?w=640&q=100&fit=clip&auto=format"
    alt=""
  />
  <div class="Content-Appreciation-Text">
    <h2>High-quality, curated curriculum</h2>
    <h3>
      Content is co-created with the world's most innovative tech companies,
      curated by our teaching experts.
    </h3>
  </div>
</div>
  <div class="Instructor-Appreciation">
    <div class="Instructor-Appreciation-Text"> 
      <h2>Expert Instructors</h2>
      <h3>
        Courses are taught by instructors with proven credentials and extensive
        industry experience, vetted by our stringent approval process.
      </h3>
    </div>
    <img
      class="Instructor-Appreciation-Image"
      src="https://cdn.sanity.io/images/tlr8oxjg/production/f7820f1a15af353a91a6daab4713d293bd7578bf-489x474.png?w=640&q=100&fit=clip&auto=format"
      alt=""
    />
  </div>
<%- include('partials/footer.ejs') %>

