<%- include('partials/header.ejs') %>
<div class="course-container">
  <div class="Course-text-container">
    <h2>Search Engine Optimization</h2>
    <p>
        Educators get the knowledge and skills needed to enhance their online presence and reach a wider audience through search engine optimization.
    </p>
    <p>Rating 4.5/5</p>
    <div class="btn">Buy this course for $12</div>
  </div>
  <div class="Course-image-container">
    <ul>
      <% v.forEach(video => { %>
      <li>
        <iframe
          width="260"
          height="200"
          src="<%= video.url %>"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </li>
      <% }); %>
    </ul>
  </div>
</div>
<div class="What-U-Will-Learn">
    <h4>What You Will Learn</h4>
    <ul>
        <li>How search engines work, including crawling, indexing, and ranking.</li>
        <li>How to conduct keyword research to identify relevant and high-traffic keywords.</li>
        <li>Optimizing meta titles, descriptions, and headings for web pages.</li>
        <li>Crafting high-quality and engaging content that appeals to both search engines and human readers.</li>
    </ul>
</div>
<div class="Prerequisites">
<h4>Prerequisites</h4>
<p> While not a strict prerequisite, access to SEO tools like Google Analytics, Google Search Console, and keyword research tools can be beneficial for practical learning.</p>
</div>

<div class="Testimonials-block">
    <h2>Alumni Voices</h2>
    <div class="Testimonials">
      <div class="Testimonial-1">
        <p>
            "I joined the SEO course for educators with minimal technical background, and I was pleasantly surprised by how well-structured and beginner-friendly the course was. The instructors explained complex SEO concepts in a simple, engaging manner. I now have a better grasp of optimizing my educational content for online visibility."
        </p>
        <p class="T-Name">~John</p>
      </div>
      <div class="Testimonial-1">
        <p>
            "This course has been a game-changer for me. As an educator, I've always wanted to reach a broader audience, and the SEO techniques I learned here have helped me achieve just that. I've seen a significant increase in the traffic to my educational blog, and I'm thrilled with the results."
        </p>
        <p class="T-Name">~Richard Willard</p>
      </div>
      <div class="Testimonial-1">
        <p>
            "The SEO course for educators was not just informative; it was empowering. It equipped me with the tools to improve my school's website and attract more students. The instructors provided hands-on guidance, making it easy for educators like me to apply these concepts effectively."
        </p>
        <p class="T-Name">
          ~Logan Paul
        </p>
      </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>
