*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    
}
body{
    background-color: whitesmoke;
}
header{
    background-color: #fff;
}
.app {
    padding: 15px;
    padding-left: 50px;
    font-size: 35px;
}
.app a{
    text-decoration: none;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 75px;
}
.nav-items{
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    font-size: 20px;
    padding-top: 10px;
}
.nav-items li{
    list-style: none;
    padding: 15px;
}
.nav-items li a{
    text-decoration: none;
}

.sign{
    font-family: Archia,sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
    padding-top: 20px;
}
.signcontainer{
    height: 100vh;
    background-color: #f2f2f2; /* Light gray background */
    font-family: Arial, sans-serif;
}
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
label {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button[type="submit"]:hover {
    background-color: #1d6fa5; /* Darker shade of blue on hover */
}
.form-container{
    text-align: center;
}

button[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    
    
    width: 100%;
}

.First-Block-Content{
    text-align: center;
    display: inline-block;
    padding:50px;
}
#First-Block-image{
    float: right;
    height: 300px;
    padding-right:50px ;
}
.Content-Appreciation-Text{
    display: inline-block;
    text-align: center;
    width: 50%;
    padding: 100px;
}
.Content-Appreciation-Image{
    clear:right;
    float: left;
    height: 400px;
    padding: 50px;
}
.Content-Appreciation{
    padding-left:200px;
}
hr{
    clear: both;
    margin: 0rem;
}
.Instructor-Appreciation {
    padding-left: 100px;
    padding-top: 30px;
}
.Instructor-Appreciation-Text {
    clear: both;
    float: left;
    padding-left: 80px;
    width: 40%;
    text-align: center;
    padding-top: 40px;
}
.Instructor-Appreciation-Image {
    padding-left: 60px;
    height: 400px;
}
.intro-img{
    height: 50vh;
}
.intro-container{
    position: relative;
    text-align: center;
}
.Content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.about-us-Text{
    display: inline-block;
    width: 50%;
    padding: 100px;
}
.about-us-Image{
    clear:right;
    float: left;
    height: 400px;
    padding: 50px;
}
.about-us-container{
    padding-left:100px;
}
.Mission-container {
    background-color: #E7EFF6;
    padding-left: 100px;
    padding-top: 30px;
}
.Mission-container-Text {
    clear: both;
    float: left;
    padding-left: 80px;
    width: 40%;
    padding-top: 40px;
}
.Mission-container-Image {
    padding-left: 60px;
    height: 340px;
}
.mentor-Text{
    display: inline-block;
    width: 50%;
    padding: 100px;
}
.mentor-Image{
    clear:right;
    float: left;
    height: 500px;
    padding: 50px;
}
.mentor-container{
    padding-left:100px;
}

.USP-Text{
    display: inline-block;
    text-align: center;
    width: 50%;
    padding-left: 30px;
    
}
.USP-Image{
    clear:right;
    float: left;
    height: 300px;
    /* padding; */
}
.USP{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.USP-Text h2{
    font-size: 24px;
}
.USP-Text p{
    font-size: 18px;
}
.Testimonials{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
}
.Testimonial-1{
    padding: 30px;
    width: 30%;
    border: 2px solid black;
    
}
.T-Name{
    text-align: right;
}
.Testimonials-block h2{
    padding-left: 35px;
}
.Testimonials-block{
    background-color: #cfcedd;
}
.footer{
    display: flex;
    justify-content: space-evenly;
}
.fblock1{
    width:40%;

}
.fblock2{
    width: 25%;
}
.fblock3{
    width: 25%;
}
.footer h2,p{
    text-align: left;
}
.footer li{
    list-style-type:none ;
    text-align: left;
}
.USP-Remove{
    text-align: left;
}
#Homebutton{
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
#Homebutton:hover {
    background-color: #1d6fa5; /* Darker shade of blue on hover */
}
.Motivational_img{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #272323;
}


.course1{
    width: 40%;
    
    border:2px solid black ;
    
}
.P-image{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.P-Name{
    text-align: center;
}
.C-Name a{
    display: block;
}
.C-Name{
    
    text-align: center;
}
.course1>p{
    text-align: center;
    
}

.Container{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}
