@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: whitesmoke;
}
header{
    background-color: #fff;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
.app {
    padding: 15px;
    padding-left: 50px;
    font-size: 35px;
}
.app a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 75px;
}
.nav-items{
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    font-size: 20px;
    padding-top: 10px;
}
.nav-items li{
    list-style: none;
    padding: 15px;
}
p{
    font-family: 'Roboto', sans-serif;
}
.nav-items li a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.sign{
    font-family: Archia,sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
    padding-top: 20px;
    color: white;
}
.signcontainer{
    height: 100vh;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 200px;
    left: 40%;
}
.sign-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
label {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button[type="submit"]:hover {
    background-color: #1d6fa5; /* Darker shade of blue on hover */
}
.form-container{
    text-align: center;
}

button[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    margin: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-family: 'Lora', serif;
    padding: 10px;
    width: 100%;
    padding-top:30px; 
}
.First-Block{
    display: flex;
    justify-content: space-evenly;
}
.First-Block-Content{
    text-align: center;
    
    padding:50px;
}
#First-Block-image{
    
    height: 300px;
    padding-right:50px ;
    padding-top: 20px;
} 
.Content-Appreciation-Text{
    display: inline-block;
    text-align: center;
    width: 50%;
    padding: 100px;
}
.Content-Appreciation-Image{
    clear:right;
    float: left;
    height: 400px;
    padding: 50px;
}
.Content-Appreciation{
    padding-left:200px;
}
hr{
    clear: both;
    margin: 0rem;
}
.Instructor-Appreciation {
    padding-left: 100px;
    padding-top: 30px;
}
.Instructor-Appreciation-Text {
    clear: both;
    float: left;
    padding-left: 80px;
    width: 40%;
    text-align: center;
    padding-top: 40px;
}
.Instructor-Appreciation-Image {
    padding-left: 60px;
    height: 400px;
}
.intro-img{
    height: 50vh;
}
.intro-container{
    position: relative;
    text-align: center;
}
.Content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.about-us-Text{
    display: inline-block;
    width: 50%;
    padding: 100px;
}
.about-us-Image{
    clear:right;
    float: left;
    height: 400px;
    padding: 50px;
}
.about-us-container{
    padding-left:100px;
}
.Mission-container {
    background-color: #E7EFF6;
    padding-left: 100px;
    margin-top: 30px;
}
.Mission-container-Text {
    clear: both;
    float: left;
    padding-left: 80px;
    width: 40%;
    padding-top: 40px;
}
.Mission-container-Image {
    padding-left: 60px;
    height: 340px;
}
.mentor-Text{
    display: inline-block;
    width: 50%;
    padding: 100px;
}
.mentor-Image{
    clear:right;
    float: left;
    height: 500px;
    padding: 50px;
}
.mentor-container{
    padding-left:100px;
}

.USP-Text{
    display: inline-block;
    text-align: center;
    width: 50%;
    padding-left: 30px;
    
}
.USP-Image{
    clear:right;
    float: left;
    height: 300px;
    /* padding; */
}
.USP{
    display: flex;
    justify-content: center;
    margin: 50px;
    padding-top: 10px;
}
.USP-Text h2{
    padding-top: 5px;
}
.Testimonials{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
}
.Testimonial-1{
    padding: 30px;
    font-family: 'Playfair Display', serif;
    width: 30%;
    border: 2px solid black;
    border-radius: 30px;
    font-style: italic;
    line-height: 1.4;
}
.T-Name{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: right;
}
.Testimonials-block h2{
    padding-left: 35px;
}
.Testimonials-block{
    background-color: #cfcedd;
    padding-top: 20px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    height: 280px;
}
.fblock1{
    width:40%;
}
.fblock2{
    width: 25%;
}
.fblock3{
    width:25%;
    display: flex;
    justify-content: space-evenly;
    float: right;
    
}
.footer h2,p{
    text-align: left;
}
.footer li{
    list-style-type:none ;
    text-align: left;
}
.USP-Remove{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}
.btn{
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.btn:hover {
    background-color: #1d6fa5; /* Darker shade of blue on hover */
}

.Motivational_img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272323;
}
.session-container{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}
.card {
    border: 1px solid #ccc;
    width: 300px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 15px;
}

.card-header {
    background-color: rgb(44, 44, 83);
    color: #fff;
    text-align: center;
    padding: 10px; 
     /* border-top-left-radius: 15px;
     border-top-right-radius: 15px;  */
     border-radius: 15px;
 } 

.card-header h2 {
    margin: 0;
}

.card-body {
    padding: 20px;
    
}
.card-body p {
    margin: 0;
}
.course1{
    width: 40%;
    border:2px solid black ;
    background-color: #232D3F;
    border-radius: 30px;
}
.P-image{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}
.P-Name{
    text-align: center;
}
.C-Name a{
    display: block;
}
.C-Name{
    
    text-align: center;
    padding-top: 10px;
}
.course1>p{
    text-align: center;
    color: white;
    
}

.Container{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}
.card-body strong {
    font-weight: bold;
    margin-right: 5px;
}
.outer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#Copyright{
    clear: both;
    text-align: center;
    margin-bottom: 0px;
}
.course1 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.session-filter{
    display: flex;
    justify-content: space-evenly;
}
.session-filter-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.session-motivation{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 15px; */
    margin: 20px;
    background-color: rgb(44, 44, 83);
    color: white;
   
}

#platform-filter {
    width: 150px; /* Set the width as desired */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    
}

/* Style for the select options */
#platform-filter option {
    font-size: 14px;
}
.Session-space{
    padding-left: 40px;
}
.session-container>.session-filter-container>filter>h4{
    text-align: center;
}

.course-container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}
.Course-text-container{
    width: 40%;
}
.What-U-Will-Learn{
    padding: 20px;
    border: 2px solid black;
    width: 50%;
    margin-left: 155px;
    border-radius: 30px;
    background-color: #9fd7fc;
}
.Prerequisites{
    margin: 55px;
    padding-left: 100px;
}
.Course-image-container li{
    list-style-type:none;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.popup .popup-close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.popup .popup-content {
    margin-bottom: 20px;
}
.overlay.active {
    display: block;
}
.popup.active {
    display: block;
}
.btn-container {
    display: flex;
    justify-content: center;
}

