*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    
}
body{
    background-color: whitesmoke;
}

.app {
    padding: 15px;
    padding-left: 50px;
    font-size: 35px;
}
.app a{
    text-decoration: none;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 63px;
}
.nav-items{
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    font-size: 20px;
    padding-top: 10px;
}
.nav-items li{
    list-style: none;
    padding: 15px;
}
.nav-items li a{
    text-decoration: none;
}

.sign{
    font-family: Archia,sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
    padding-top: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-container{
    text-align: center;
}

button[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.First-Block-Content{
    text-align: center;
    display: inline-block;
    padding:50px;
}
#First-Block-image{
    float: right;
    height: 300px;
    padding-right:50px ;
}
.Content-Appreciation-Text{
    
    display: inline-block;
    text-align: center;
    width: 50%;
    padding: 100px;
}
.Content-Appreciation-Image{
    clear:right;
    float: left;
    height: 400px;
    padding: 50px;
}
.Content-Appreciation{
    padding-left:200px;
}
hr{
    clear: both;
}